/*==[ Fonts ]==*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext');

/*==[ Defaults ]==*/
* { box-sizing: inherit; }
html > body { overflow-y: scroll; }
body
{
	margin: 0; padding: 0; color: #333; font: 14px/1.2 'Open Sans', Arial, sans-serif;
	background-color: #20282F;
/*
	background-image:
		linear-gradient(0deg,  rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 10px),
		linear-gradient(90deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 10px);
    background-size: 10px 10px;
*/

	background-color: #234;
	background-image:
		linear-gradient(0deg, transparent 0%, rgba(0,0,0,0.3) 100%),
		linear-gradient(0deg,  rgba(0,0,0,0.3) 0px, rgba(0,0,0,0.3) 1px, transparent 1px, transparent 6px),
		linear-gradient(90deg, rgba(0,0,0,0.3) 0px, rgba(0,0,0,0.3) 1px, transparent 1px, transparent 6px);
    background-size: 100% 200px, 6px 6px, 6px 6px;
    background-repeat: no-repeat, repeat, repeat;
    box-sizing: border-box;
}

a         { color: #005C87; text-decoration: none; }
a:visited { color: #005C87; text-decoration: none; }
a:hover   { color: #005C87; text-decoration: underline; }
a:active  { color: #005C87; text-decoration: underline; }

h1 { margin: 0 0 0.8em; color: #579; font-size: 24px; font-weight: normal; }
h2 { margin: 1 0 0.8em; color: #579; font-size: 20px; font-weight: normal; }
h3 { margin: 0 0 0 0; color: #222; font-size: 14px; font-weight: bold; }
h4 { margin: 1 0 0.5em; color: #333; font-size: 13px; font-weight: bold; }
h5 { margin: 1 0 0.5em; color: #333; font-size: 11px; font-weight: bold; }

ul { margin: 0; padding: 0 0 0 2em; }
ol { margin: 0; padding: 0 0 0 4em; }

ul       { list-style: disc; }
ul ul    { list-style: square; }
ul ul ul { list-style: circle; }

ol       { list-style: decimal; }

li { margin: 0; }

p  { margin: 0em 0em 1em; line-height: 19px; }

pre       { background: rgba(255,255,255,0.5); font: 13px/1.1 Consolas, "Courier New", Courier, monospace; margin: 10px; overflow: auto; padding: 10px 15px; }
code, kbd { font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym, dfn { border-bottom: 1px dotted #666; cursor: help; }

address  { display: block; margin: 0 0 1.625em; }

blockquote  { margin: 1em 3em; color: #444; font-size: 1em; }

ins      { background: #FFF9C0; text-decoration: none; }
sup, sub { position: relative; height: 0; font-size: 10px; line-height: 1; vertical-align: baseline; }
sup      { bottom: 1ex; }
sub      { top: .5ex; }

hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.2em; }


/*==[ Layout ]==*/
#wrapper  { max-width: 1200px; margin: 0px auto; background: rgba(0,0,0,0.4); box-shadow: 0px 0px 20px rgba(0,10,20,0.8); border: 1px solid #000; }

header    { padding: 10px 20px; background: rgba(0,0,0,0.5); border-bottom: 5px solid #345; box-shadow: 0 3px 5px #000; }
header h1 { margin: 0 0 5px 0;  color: #789; font-size: 30px; font-weight: normal; line-height: 1; }
header h2 { margin: 0 0 0 20px; color: #ACE; font-size: 20px; font-weight: normal; font-style: italic; letter-spacing: 1px; line-height: 1; }

#content  { min-height: 300px; padding: 60px 20px; }
.error    { color: #C20; }
.warning  { color: #C60; }
.notice   { color: #990; }

footer    { padding: 5px; background: rgba(0,0,0,0.7); border-top: 2px solid #567; box-shadow: 0 1px 0 #000; }

/*==[ Exception ]==*/
.exception dl { position: relative; border: 1px solid #900; background: rgba(220,180,180,0.6); box-shadow: inset 0 0 2px 0 #000; }
.exception dt { margin: 0; padding: 0px; background: #400; border-bottom: 1px solid rgba(0,0,0,0.5); }
.exception dd { padding: 0px; margin: 0px; }
.exception dt h3 { padding: 10px; height: 35px; letter-spacing: 1px; }

/*==[ Stack Trace ]==*/
.stack_trace ul { list-style: none; margin: 0; padding: 0; border: 1px solid #000; background: rgba(255,255,255,0.2); }
.stack_trace li { position: relative; margin: 10px; padding: 0px; border: 1px solid #111; background: rgba(150,160,170,0.6); }
.stack_trace h3 { padding: 10px; height: 35px; border-bottom: 1px solid rgba(0,0,0,0.5); background: rgba(255,255,255,0.2); }

.ec_source li { margin: 0; background: none; border: none; }
.ec_source li:nth-child(odd) { background: rgba(0,0,0,0.1); }

.err_msg  { margin: 1em; color: #111; font-size: 1.2em; font-style: italic; }
.message  { margin: 1em; color: #111; font-size: 1.1em; }
.fileinfo { margin: 5px 0px 0px !important; padding: 2px 5px; color: #000; font-size: 0.9em; border-top: 1px solid rgba(0,0,0,0.5); background: rgba(0,0,0,0.2); }

.fileinfo .line { float: right; }

.args_toggle  { position: absolute; top: 1px; right: 135px; }
.code_toggle  { position: absolute; top: 1px; right: 5px; }

/*==[ Icons ]==*/
.icon        { }
.icon:before { padding-right: 0.5em; font-weight: normal; font-family: "elusive-framework-icons"; vertical-align: bottom; }

.icon.logo:before    { content: "\e000"; color: #C60; }
.icon.error:before   { content: "\ed6b"; }
.icon.warning:before { content: "\ed50"; }
.icon.notice:before  { content: "\ed64"; }

/*==[ Buttons ]==*/
.button, button
{
	cursor: pointer; display: inline-block; margin: 5px 0px; padding: 0px 10px;
	color: #111; font-weight: normal; text-decoration: none; text-align: center; line-height: 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3); font-family: Lato, Arial, sans-serif;
	border: 1px solid #555;
	border-radius: 3px;
	background-color: rgba(200,200,200,0.3);
	box-shadow: inset 1px 1px 0px rgba(255,255,255,0.5), inset -1px -1px 0px rgba(0,0,0,0.1);
}

.button:hover, button:hover
{
	background-color: rgba(255,255,255,0.6);
}

.button:active, button:active
{
	border: 1px solid #999;
	background-color: rgba(50,50,50,0.3);
}

/*==[ Elusive ]==*/
#elusive   { margin: 0 10px; color: #999; text-align: right; }
#elusive a { padding-left: 10px !important; line-height: 14px !important; color: #E82 !important; font-size: 14px; font-family: Verdana, Arial, sans-serif !important; text-decoration: none !important; letter-spacing: 0.1em !important; text-shadow: 0px 1px 3px rgba(0,0,0,0.75); white-space: nowrap; }

@media screen and (min-width: 600px)
{
	.exception .button        { background-color: rgba(200,200,200,0.8); }
	.exception .button:hover  { background-color: rgba(255,255,255,0.9); }
	.exception .button:acrive { background-color: rgba(200,200,200,0.8); }
}

@media screen and (max-width: 599px)
{
	#content { padding: 20px; }
	h1, h2   { font-size: 18px; }
	.err_msg { font-size: 1em; color: #000; }
	.message { font-size: 1em; color: #000; }
	#elusive { text-align: center; }

	.args_toggle, .code_toggle { position: relative; top: 0; right: 0; display: block; margin: 10px auto 0; width: 90%; max-width: 350px; }
}